
@{
    ViewBag.Title = "Generate PDF";
}

<h2>Generate PDF</h2>

<p>
    @Html.ActionLink("View Services", "ServicesList")
</p>

<p>
    @Html.ActionLink("View Feedbacks", "FeedbackList")
</p>
<div>
    @Html.ActionLink("Back", "Index")
</div>