
@{
    ViewBag.Title = "Feedback Error";
}

<h2>Feedback Error</h2>

<div class=" alert alert-danger">
    <strong>@ViewBag.MSG</strong>
</div>

<div>
    @Html.ActionLink("Back", "ServiceDisplayUser", "User") 
    
</div>
