@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    Room Cleaning Service<br />
    Pune, India <br />
    <abbr title="Phone">P:</abbr>
    9898685414
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mayur.saparia15@gmail.com</a><br />
</address>